         /*############start  body #############*/
h2 {
   text-align: center;
   font-family: fantasy;
}
#style{
border: 2px solid gray;

}
#style:hover{
  box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 black;

}
#style a{
    text-decoration: none;
    color: brown;
    cursor: pointer;
    padding: 5px;
}
h4{
    text-align: center;
    font-family: sans-serif;
    width: 100px;
    margin: auto;
    padding: 5px;
}
h4:hover{
      box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 black;

}

         /*############start  footer of slider#############*/
.modal-footer{
     text-align: center;
}
.modal-footer button{
     border: 2px solid #0099e6;
}
.modal-footer button:hover ,.modal-footer button:focus{
     background-color: #0099e6;
     color:white;
     border: 2px solid #0099e6;

}